html {
  background-color: black;
}

table {
    border-collapse: collapse;
}

.cell {
  /*border: 1px solid black;*/
  height: 10px;
  width: 10px;
}

.wall {
  background-color: gray;
}

.room {
  background-color: white;
  opacity: 1;
}

#notice {
  color: white;
}
